body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}


.container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section{
    width: 100%;
    margin-bottom: 1rem;
}

h1{
    font-size: 2rem;
    text-align: center;
}

input{
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    margin-bottom: .5rem;
}

.ADD_button{
    width: 100%;
    height: 1.5rem;
    background-color: #ffcb8e;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 450px;

    
    overflow:hidden;
    overflow-y:scroll;
}

.task{
    width: 98%;
    min-height: 2rem;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background-color: #ffcb8e;
    display: flex;
}

.task_text{
    align-self: center;
    margin-left: 1rem;
}

.done_button{
    background-color: green;
    margin-left: auto;
    color: white;
}

.done_button_success{
    background-color: rgb(255, 196, 0);
    margin-left: auto;
    color: black;
}

.del_button{
    background-color: red;
    border-radius: 0 9px 9px 0;
    color: white;
}

.done{
    text-decoration: line-through;
}